Style for the upload section container
.upload-section {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
  gap: 20px;
}


/* Style for the custom file input button */
.upload-button {
  background-color: #282d69; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s; /* Smooth transition */
}

/* Hover effect for the custom file input button */
.upload-button:hover {
  background-color: #3900f1; /* Darker blue background */
}

.custom-file-input {
  background-color: #008CBA; /* Blue background */
  color: white; /* White text */
  padding: 15px 30px; /* Increased padding */
  font-size: 18px; /* Increased font size */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s; /* Smooth transition */
}

/* Style for the select dropdown */
select {
  padding: 10px; /* Padding */
  font-size: 16px; /* Font size */
  border-radius: 16px; /* Rounded corners */
}

.App {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  margin-top: 20px;
}

.upload-section {
  margin-bottom: 20px;
}

.result-section {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.image-container {
  text-align: center;
}

/* Set a maximum width for both images */
.image-container img {
  max-width: 80%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
